APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:qDi7H05x+39JAKcUhWqKYojLMK696dd/tg5RYh4a/X8=
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_DEBUG=false
APP_URL=https://app.poofsa.com

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=poofsaco_prod
DB_USERNAME=poofsaco_prod
DB_PASSWORD=Pnr926Jqzm4Mk7dJaPUz
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

BROADCAST_DRIVER=pusher
BROADCAST_CONNECTION=pusher
PUSHER_APP_ID=2022006
PUSHER_APP_KEY=f2ff9925065555c61de5
PUSHER_APP_SECRET=0528dbc36ae54029d5d3
PUSHER_APP_CLUSTER=ap1

FRONTEND_URL=https://poofsa-tend.vercel.app
PAYMONGO_BASE_URL=https://api.paymongo.com
PAYMONGO_MODE=live
PAYMONGO_PUBLIC_KEY_TEST=pk_test_MZY6oLavLcxPuNqJaA5TvJwo
PAYMONGO_SECRET_KEY_TEST=sk_test_cjnjWuFd2Fz7KPWkn8CwKT33
PAYMONGO_PUBLIC_KEY_LIVE=pk_live_fVyzR4cfKEqQhtipdLTceGXj
PAYMONGO_SECRET_KEY_LIVE=sk_live_jsL3jDZ7U41oRJ8PmqWJxfpN

MAIL_MAILER=smtp
MAIL_HOST=mail.poofsa.com
MAIL_PORT=587
MAIL_USERNAME=poofsaco
MAIL_PASSWORD='!@#poofsA2025'
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME=Poofsa
MAIL_FROM_ADDRESS=no-reply@poofsa.com

SANCTUM_STATEFUL_DOMAINS=https://app.poofsa.com/register,https://poofsa-vent.vercel.app,https://poofsa-tend.vercel.app,https://poofsa-bris.vercel.app,https://poofsa-kitch.vercel.app,https://poofsa-des.vercel.app,https://poofsa-stom.vercel.app,https://poofsa-yals.vercel.app,https://poofsa-dev.vercel.app,https://poofsa-marketplace.vercel.app

SESSION_DOMAIN=https://app.poofsa.com/register,https://poofsa-vent.vercel.app,https://poofsa-tend.vercel.app,https://poofsa-bris.vercel.app,https://poofsa-kitch.vercel.app,https://poofsa-des.vercel.app,https://poofsa-stom.vercel.app,https://poofsa-yals.vercel.app,https://poofsa-dev.vercel.app,https://poofsa-marketplace.vercel.app
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

JWT_SECRET=M1rQDTHz3VlFsnfGKsvvzMvx7yiKEnEYydnhHUO3xTgG4rsF6UVlxpHOz86x5Kio

FILESYSTEM_DISK=local

# for App\Events
QUEUE_CONNECTION=sync

CACHE_STORE=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# CACHE_PREFIX=
# APP_MAINTENANCE_STORE=database
# PHP_CLI_SERVER_WORKERS=4
